body {
	/* background: #04908a;*/
	/**background-color: #ed7d0d; **/
	/*font-family: 'Walter Turncoat', cursive; */
	/*font-family: 'Lobster', cursive; */
	font-family: 'Dosis', sans-serif;
	font-weight: bolder;
	font-size: 205%;
	text-align: center;
	background: #c6b18f;
	/* background: black; */
	color: white;

/*background: url("/Users/JennTurner/Dropbox/THINKFUL/THINKFUL UNIT 3/oitnb-quiz/images/beverlyhills-90210-gang.jpg");*/
/* background-position: right top;
background-repeat: no-repeat; */

}

#i-letter {
	font-size: 215%;
}


 #love{
	color: #bc1041;
	font-size: 215%
	
}

#the {
	/* color: #1e84b8; */
	/*color: #ed7d0d; */
	color: #651a84;
}

#nineties {
	color: #409b04;
	font-size: 215%

}

.questions {
	list-style: none;
	font-size: 80%;
}

.text-color {
	color: #04908a;
}

.text-color a:hover {
	color: #bc1041;
}

 .jerome-martin {
text-align: center;
/*color: #04908a;*/
}

.houseparty {
	margin-top: 60px;
}

.rock {
	margin-top: 60px;
	
}

.hair {
	margin-top: 60px;
}

.beverly-hills-90210 {
	margin-top: 60px;
}

.super-mario {
	margin-top: 60px;
}

/* button 
---------------------------------------------- */
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

/* gray */
.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}
/*.jerome-martin a:hover {
	color:#bc1041;
	}

.houseparty {
	color: #04908a;
}

.houseparty a:hover {
	color: #bc1041;
} */ 